/* Gradient color text */
.gradient-text-color {
    background: linear-gradient(135deg, #f6c459 0%, #f871c0 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

/* Nav link style */
.menu li>*:not(ul, .menu-title, details, .btn):active,
.menu li>*:not(ul, .menu-title, details, .btn).active,
.menu li>details>summary:active {
    background: linear-gradient(135deg, #f6c459 0%, #f871c0 100%);
    color: #FFFF;
    border-bottom: none;
}

.menu li>*:not(ul, .menu-title, details, .btn) {
    background-color: #FFFF;
    border-bottom: 2px solid white;
    outline: none;
    width: fit-content;
    height: fit-content;
}

.menu li>*:not(ul, .menu-title, details, .btn):hover,
.menu li>*:not(ul, .menu-title, details, .btn):focus {
    background-color: #FFFF;
    border-bottom: 2px solid;
    border-image: linear-gradient(135deg, rgb(246, 196, 89) 0%, rgb(248, 113, 192) 100%) 1;
    border-bottom: 2px solid white;
    outline: none;
}

/* .menu li>*:not(ul, .menu-title, details, .btn):hover{
    background: linear-gradient(135deg, rgb(246, 196, 89) 0%, rgb(248, 113, 192) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
} */

.menu li {
    margin-left: 1.5px;
    margin-right: 1.5px;
}

/* Profile picture style */
.profile {
    position: relative;
}

.profile-name {
    position: absolute;
    visibility: hidden;
    right: 0px;
    top: 36px;
}

.profile:hover .profile-name {
    transition-delay: 300ms;
    visibility: visible;
}

.transition-background {
    transition: background 1s ease-in-out;
}

.gradient-border-bottom {
    /* border: 2px solid transparent; */
    border: double 2px transparent;
    background-image: linear-gradient(white, white),
        linear-gradient(90deg, rgb(246, 196, 89) 0%, rgb(248, 113, 192) 100%);
    /* border-image-slice: 1; */
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 64px;
}

/* Navber style */
.navber-style {
    position: sticky;
    z-index: 50;
    top: 24px;
    width: 95%;
    left: 0px;
    width: 90%;
    margin: 0px auto;
}

@media (min-width: 300px) and (max-width: 500px) {
    .navber-style {
        position: sticky;
        z-index: 10;
        top: 16px;
        left: 0px;
        width: 98%;
        margin: 0px auto;
    }

    .gradient-border-bottom {
        border-radius: 64px;
    }
}

@media (min-width: 501px) and (max-width: 1200px) {
    .navber-style {
        position: sticky;
        z-index: 10;
        top: 16px;
        left: 0px;
        width: 98%;
        margin: 0px auto;
    }

    .gradient-border-bottom {
        border-radius: 64px;
    }
}